<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/site.css"th:href ="@{/css/site.css}" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<h1 th:text="${publisher.getName()}">some text</h1>
<h3><a th:href="@{/}">back</a></h3>
    <table>
        <tr th:each="game:${publisher.getGames()}">
            <td th:text="${game.getName()} + ' --- '" id="text"></td>            
            <td th:text="${game.getDescription()}" id="text"></td>
            
            
        </tr>
    </table>
    

</body>
</html>